
@{
    ViewData["Title"] = "Błąd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row bg-dark text-white p-3 m-3">
        <h1>Bład przy realizacji zakupu biletu, spróbuj ponownie.</h1>
    </div>
</div>
