@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Potwierdz zmianę maila";
}

<div class="jumbotron mt-4 bg-white">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>