@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdz email";
}

<div class="jumbotron mt-4 bg-white">
    <h1>@ViewData["Title"]</h1>
    <p>
        Konto aktywowane!
    </p>
</div>
