@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Zapomniane hasło";
}

<div class="jumbotron mt-4 bg-white">
    <h1>@ViewData["Title"]</h1>
    <p>
        Wsyłaliśmy link do resetu hasła. Sprawdź swój email.
    </p>
</div>

