@page
@model LockoutModel
@{
    ViewData["Title"] = "Zablokowany";
}

<div class="jumbotron mt-4 bg-white">
    <header>
        <br />
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Konto zablokowane, skontaktuj się z administratorem.</p>
    </header>
</div>