@page
@model LogoutModel
@{
    ViewData["Title"] = "Wyloguj";
}

<div class="jumbotron mt-4 bg-white">
    <header>
        <h1>@ViewData["Title"]</h1>
        <p>Zostałeś wylogowany.</p>
    </header>
</div>