@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<div class="jumbotron mt-4 bg-white">
    <h1>@ViewData["Title"]</h1>
    <p>
        Dostałeś link aktywacyjny na swój adres mailowy. Aktywuj nim swoje konto by móc się zalogować!
    </p>
</div>
