@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset hasła";
}

<div class="jumbotron mt-4 bg-white">
    <h1>@ViewData["Title"]</h1>
    <p>
        Zresetowano hasło. Proszę <a asp-page="./Login">kliknąć tutaj by się zalogować.</a>.
    </p>
</div>
