
@{ 
    ViewData["Title"] = "Linie autobusowe";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h1 class="text-primary">Linie autobusowe</h1>
        </div>
        <div class="col-6 text-right">
            <a asp-action="AddNewLine" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Dodaj nową linię </a>
        </div>
    </div>

    <br />
    <br />
    <table id="tblData" class="table table-striped table-bordered" style="width: 100%; text-align: center;">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Lista stacji</th>
                <th>Aktywny</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/lineNameStaff.js"></script>
}