@model BusApplication.Models.LineName

@{ 
    ViewData["Title"] = "Edycja linii";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<form method="post" asp-action="Update" enctype="multipart/form-data">
    <div class="row backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12">
            <h2 class="text-primary">Edytuj linię</h2>
            <br />
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name">Nazwa</label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="_EditAndBackToListButton" model="Model.Id" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js"></script>
}
