@model BusApplication.Models.Messages

@{
    ViewData["Title"] = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white mt-3 text-center">Kontakt</h1>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-8">
            <form method="post" asp-action="SendMessage" enctype="multipart/form-data">
                <div class="col-12 px-2 mx-2 backgroundWhite border">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-12">
                        <h2 class="text-primary">Wyślij wiadomość</h2>
                        <br />
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Mail"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Mail" class="form-control" id="mail" />
                                <span asp-validation-for="Mail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Title"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Title" class="form-control" id="title" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Content"></label>
                            </div>
                            <div class="col-8">
                                <textarea asp-for="Content" class="form-control" id="content" style="height:265px;"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-8 offset-4">
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <input type="checkbox" id="reg" />
                                            Akceptuję treść <a href="~/pdf/regulamin.pdf" style="color:blue;"><i>regulaminu usługi</i></a>
                                        </p>
                                        <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Wyślij</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
            <div class="col-12 px-2 mx-2 backgroundWhite border">
                <div class="col-12">
                    <h2 class="text-primary">Napisz lub zadzwoń</h2>
                    <br />
                </div>
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">tel. +48 123 456 789</li>
                    </ol>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">tel. 32 123 56 89</li>
                    </ol>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="mailto:busapplication@gmail.com">busapplication@gmail.com</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-12 px-2 mx-2 backgroundWhite border">
                <div class="col-12">
                    <h2 class="text-primary">Odwiedź biuro</h2>
                    <br />
                </div>
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">ul. Busów 12 <br /> 23-456 Częstochowa</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js"></script>
    <script>
        function validateInput() {
            if (document.getElementById("title").value == "" || document.getElementById("mail").value == "" || document.getElementById("content").value == "") {
                swal("Błąd", "Należy uzupełnić wszystkie pola!", "error")
                return false;
            }

            if (document.getElementById("reg").checked == false) {
                swal("Błąd", "Musisz zaakceptować regulamin!", "error")
                return false;
            }

            return true;
        };
    </script>
}
