
@{
    ViewData["Title"] = "Błąd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white mt-4" style="text-align: center;">Błąd</h1>

<div class="alert alert-dismissible alert-danger">
    <h2 class="alert-heading mb-5" style="text-align: center;">Nazwa przystanku już istnieje!</h2>
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control mb-2">Wróć do listy</a>
    </div>
    <div class="col">
        <a asp-action="UpdateInsert" class="btn btn-primary form-control">Dodaj przystanek ponownie</a>
    </div>
</div>