@{
    ViewData["Title"] = "Strona główna";
}

<div class="jumbotron m-5">
    <h1 class="display-3">Witaj w BusApplication!</h1>
    <br />
    <h2>Dlaczego my?</h2>
    <p class="lead">Jesteśmy młodą firmą oferującą wygodne i dopasowane do klienta przewozy autokarowe. Z małej firmy, w bardzo krótkim czasie stworzyliśmy jedną z największych sieci przewozów międzymiastowych na rynku polskim.</p>
    <hr class="my-4">
    <p>Dzięki prostej metodzie składania rezerwacji i rosnącej każdego dnia ofercie umożliwiamy wielu podróżnym odkrywanie świata za niewielkie pieniądze. Jednocześnie nasze autobusy spełniają najwyższe standardy bezpieczeństwa oraz zapewniają ogromny komfort podczas podróży.</p>
    <p>Zachęcamy do korzystania z naszych usług za pomocą nowej strony internetowej!</p>
</div>