
@{
    ViewData["Title"] = "Niezalogowany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row bg-dark text-white p-3 m-3">
        <div class="alert alert-dismissible alert-danger col-12 text-center ">
            <br />
            <strong>By przeglądać bilety musisz być zalogowany!</strong>
            <br />
            <a href="/Identity/Account/Login" class="alert-link"><i>Zaloguj się</i></a> i spróbuj ponownie.
            <br />
            <br />
        </div>
    </div>
</div>